@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------
Headings
----------------------------------*/
h1, h2, h3, h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  line-height: 3.75rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5em;
  line-height: 1.125rem;
}

h4 {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

/*----------------------------------
Typography
----------------------------------*/
p, li, figcaption, label, .text-lg, .text-sm, button, a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

p, li, figcaption {
  font-size: 1rem;
  line-height: 1.75rem;
}

figcaption {
  font-style: italic;
}

.text-lg {
  font-size: 1.375rem;
  line-height: 2.25rem;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #00614F;
}

body {
  width: 100%;
  margin: 0 auto;
}

section {
  margin: 2.5rem 5rem;
}

section.bg {
  background-color: #fecaca;
  padding: 6rem 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.d-flex {
  display: flex;
}

.btn {
  justify-self: center;
  align-self: center;
  width: fit-content;
  text-align: center;
  padding: 1rem 2rem;
  background: #00614F;
  border-radius: 1rem;
}
.btn > a {
  color: #FCFCFC;
}

.btn-secondary {
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  width: fit-content;
  text-align: center;
  padding: 1rem 2rem;
  -webkit-box-shadow: inset 0 0 0 0.2rem rgb(90, 177, 187);
  -moz-box-shadow: inset 0 0 0 0.2rem rgb(90, 177, 187);
  box-shadow: inset 0 0 0 0.2rem rgb(90, 177, 187);
  border-radius: 1rem;
}

.nav-btn {
  justify-self: center;
  align-self: center;
  width: fit-content;
  text-align: center;
  padding: 0.25rem 1rem;
  background: #00614F;
  border-radius: 1rem;
}
.nav-btn > a {
  color: #FCFCFC;
}

.nav-btn-secondary {
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  width: fit-content;
  text-align: center;
  padding: 0.25rem 1rem;
  -webkit-box-shadow: inset 0 0 0 0.2rem rgb(90, 177, 187);
  -moz-box-shadow: inset 0 0 0 0.2rem rgb(90, 177, 187);
  box-shadow: inset 0 0 0 0.2rem rgb(90, 177, 187);
  border-radius: 1rem;
}

.mentor-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
  max-width: 250px;
  border-radius: 16px;
  transition: 0.3s;
}

.mentor-card img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 16px;
  display: block;
}

.mentor-card ul {
  gap: 1rem;
}

.mentor-card:hover {
  transform: translate(0, -10px);
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
  max-width: 250px;
  border-radius: 16px;
  transition: 0.3s;
}

.project-card img {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  border-radius: 16px;
  display: block;
  object-fit: cover;
}

.project-card ul {
  gap: 1rem;
}

.project-card:hover {
  transform: translate(0, -10px);
}

header {
  width: 100%;
  border-bottom: 0.063rem solid #171020;
}
header .header-content {
  margin: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .global-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .header-content .global-nav li {
  margin-left: 2rem;
}
header .header-content .global-nav .img-container {
  width: 2.5rem;
  height: 2.5rem;
  background: grey;
  border-radius: 50%;
}

footer {
  flex-direction: column;
  width: 100%;
  border-top: 0.063rem solid #171020;
}
footer .footer-content {
  margin: 1.5rem 5rem;
}
footer .footer-content .footer {
  justify-content: space-between;
  align-items: center;
}
footer .footer-content ul {
  display: flex;
}
footer .footer-content ul li {
  margin-left: 2rem;
}
footer .footer-content .line {
  margin: 1rem 0;
  border-top: 0.063rem solid #c3c3c3;
}
footer .footer-content p {
  text-align: center;
}

.banner > div, .banner img {
  align-self: center;
}
.banner img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.features img {
  width: 5rem;
  height: 5rem;
}

.testimonials img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.all-mentors {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  justify-content: space-between;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  justify-content: space-between;
}

.login h1 {
  grid-area: 1/5/2/span 4;
}
.login .container {
  width: 100%;
  grid-column: 5/span 4;
}
.login .login-container {
  background: #FCFCFC;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.login .login-form, .login .form-input {
  display: flex;
  flex-direction: column;
}
.login .login-form {
  margin-bottom: 1.5rem;
}
.login .form-input {
  margin-bottom: 1.5rem;
}
.login .form-input label {
  margin-bottom: 0.5rem;
}
.login .form-input input {
  height: 3rem;
  border: none;
  border-radius: 1rem;
  padding: 0 1rem;
}
.login .login-links {
  text-align: center;
}

.matches {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: space-between;
}

.results .btn {
  display: block;
  margin: 2rem auto;
}

.opts {
  justify-content: space-between;
}