// Type
$font-heading: 'League Spartan', sans-serif;
$font-body: 'DM Sans', sans-serif;

// Colors
$green: #00614F;
$white: #FCFCFC;
$black: #171020;
$gradient: linear-gradient(180deg, rgba(90,177,187,1) 0%, rgba(165,200,130,1) 100%);
