@use '../config';

.btn {
    justify-self: center;
    align-self: center;
    width: fit-content;
    text-align: center;
    padding: 1rem 2rem;
    background: config.$green;
    border-radius: 1rem;

    > a {
        color: config.$white;
    }
}

.btn-secondary {
    justify-self: center;
    align-self: center;
    width: fit-content;
    text-align: center;
    padding: 1rem 2rem;
    border: .2rem solid config.$gradient-backup;
    border-radius: 1rem;
}