.banner {

    > div, img {
        align-self: center;
    }

    img {
        object-fit: cover;
        width: 100%;
    }
}

.features {
    img {
        width: 5rem;
        height: 5rem;
    }
}

.testimonials {
    img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }
}